<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    
    <!-- destinos de saida -->
	<Appenders>
		
		<!-- saida em console -->
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%c] %m%n" />
		</Console>
		
	
		<!-- saida em arquivo rotacionado diario -->	
		<RollingFile name="rolling-file"
			fileName="${sys:catalina.home}/logs/pedido-venda-day.log"
			filePattern="${sys:catalina.home}/logs/pedido-venda-day %d{yyyy-MM-dd}-%i.log">
			
			<!-- 
			    %d 		data, 
			    %5-p 	prioridade
			    %c   	categoria do erro
			    %m 		mensagem 
			-->
			
			<PatternLayout pattern="%d %-5p [%c] %m%n" />
 			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="console" level="info" />
			<AppenderRef ref="rolling-file" level="info" />
		</Root>
	</Loggers>
</Configuration>